<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #body {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
    <script src="jquery-3.2.1.min.js"></script>
    <script>
        $(function () {
            if (typeof encryptionKey !== "undefined") {
                $("#encryption_key").val(encryptionKey);
            }
        });

        function encode() {
            let clear = document.getElementById("input").value;
            let encryptionKey = document.getElementById("encryption_key").value;
            let output = app.encode(encryptionKey, clear);
            document.getElementById("output").value = output;
        }

        function decode() {
            let cipher = document.getElementById("input").value;
            let encryptionKey = document.getElementById("encryption_key").value;
            let output = app.decode(encryptionKey, cipher);
            document.getElementById("output").value = output;
        }

        function clearAll() {
            $("#input").val("");
            $("#output").val("");
        }
    </script>
</head>
<body>

<div id="body">
    <h1>密码加密解密器</h1>
    <label>密钥：<input type="password" id="encryption_key" placeholder="不得少于8位"></label>
    <label>输入：<textarea id="input" cols="50" rows="10"></textarea></label>
    <label>输出：<textarea id="output" cols="50" rows="10"></textarea></label>
    <div id="btn_group">
        <button onclick="encode()">加密</button>
        <button onclick="decode()">解密</button>
        <button onclick="clearAll()">清空</button>
    </div>
</div>

</body>
</html>